# Dependencies
node_modules/

# Build
dist/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# Prisma
prisma/*.db
prisma/*.db-journal
