[phases.setup]
nixPkgs = ["nodejs_22", "npm-9_x"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npx prisma generate", "npm run build"]

[start]
cmd = "npx prisma migrate resolve --rolled-back 20260102000000_add_store_location_and_special_code || npx prisma migrate deploy || npx prisma migrate deploy && npm run start:prod"

